body {
  font-family: 'helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
  background-color: #ffffff;
}

h1 {
  font-family: 'georgia', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.0rem;
}

h2 {
  font-family: 'georgia', serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  border-bottom: 2px solid #000;
}

h3 {
  font-family: 'georgia', serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;

}

strong {
  font-weight: bold;
}

section {
  max-width: 45em;
  margin: auto;
}

a:link {
  color: #A63A50;
  text-decoration: none;
}

a:visited {
  color: #A63A50;
  text-decoration: none;
}

a:hover {
  color: #90BEDE;
  text-decoration: none;
}

@media screen and (max-width: 10rem) {
  body {
    font-size: 90%;
  }
}

header {
  display: flex;
  align-items: center;

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;

  border-bottom: 2px solid #000;

}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.column_small {
  flex: 45%;
}

.column_big {
  flex: 55%;
}

@media screen and (max-width: 10rem) {
  .column {
    width: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  text-align: right;
}

section.highlight {
  background: #f3f3f3;
  border-radius: 3px;
  padding: 10px;
  margin: 20px 0px 10px 10px;
}

.post-image {
  margin: 10px;
}

.post-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}

/* Styling for rows */
.single-image-row {
  display: block;
}

.double-image-row,
.triple-image-row {
  display: flex;
  gap: 15px;
}

.double-image-row img {
  width: 49%;
  /* Adjust width for 2 images in a row */
}

.triple-image-row img {
  width: 32%;
  /* Adjust width for 3 images in a row */
}

figure {
  margin: 0;
  padding: 0;
}