body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.0rem;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

section {
  max-width: 45em;
  margin: auto;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #0071bc;
}

@media screen and (max-width: 10rem) {
  body {
    font-size: 90%;
  }
}

header {
  display: flex;
  align-items: center;

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;

  border-bottom: 2px solid #000;

}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

@media screen and (max-width: 10rem) {
  .column {
    width: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  text-align: right;
}