body {
  font-family: 'helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em/26px;
  background-color: #ffffff;
}

h1 {
  font-family: 'georgia', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.0rem;
}

h2 {
  font-family: 'georgia', serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  border-bottom: 2px solid #000;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px;
}

strong {
  font-weight: bold;
}

section {
  max-width: 45em;
  margin: auto;
}

a:link {
  color: #A63A50;
  text-decoration: none;
}

a:visited {
  color: #A63A50;
  text-decoration: none;
}

a:hover {
  color: #90BEDE;
  text-decoration: none;
}

@media screen and (max-width: 10rem) {
  body {
    font-size: 90%;
  }
}

header {
  display: flex;
  align-items: center;

  /* Remove the next line if you want the span to appear next to the h1 */
  justify-content: space-between;

  border-bottom: 2px solid #000;

}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

@media screen and (max-width: 10rem) {
  .column {
    width: 100%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  text-align: right;
}

section.highlight {
  background: #f3f3f3;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0px 10px 10px;
}